/ Main container
.page-container
  / bloc-16
  #bloc-16.bloc.lake-hero-bloc.bgc-onyx.d-bloc{:class => "bg-gradation-background"}
    = render 'application/header'
    .container
      .row
        .col-sm-12.interview-header
          %h3.mg-md.tc-safety-orange-blaze-orange
            인터뷰
          %p
            사회 혁신의 맨 앞이기에 누구보다 먼저 겪는 어려움.
            %br>/
            어떻게 해결할 수 있을까요?
            %br/
    .container.fill-bloc-bottom-edge
      .row
        .col-sm-12
          .row.voffset
            .col-sm-12.col-md-6.col-md-offset-3
              .col-xs-3
                .text-center
                  %a.social{:href => "index.html"}
                    %span.fa.fa-twitter.icon-md
              .col-xs-3
                .text-center
                  %a.social{:href => "index.html"}
                    %span.fa.fa-facebook.icon-md
              .col-xs-3
                .text-center
                  %a.social{:href => "index.html"}
                    %span.fa.fa-dribbble.icon-md
              .col-xs-3
                .text-center
                  %a.social{:href => "index.html"}
                    %span.fa.fa-instagram.icon-md
  / bloc-16 END
  / bloc-17
  #bloc-17.bloc.tc-white.bgc-onyx-2
    .container.bloc-lg
      .row
        .col-sm-4
          = image_tag "interview_landit_thumb.png", class: 'img-responsive'
          %h3.mg-md
            "신융합 산업은 기존의 규제 방식을 그대로 고수해서는 절대로 수용될 수 없습 니다. 새로 태어난 영역이기 때문에 본질적으로 기존 산업들과 많은 차이점을 갖고 있기 때문입니다."
          %p
            %a.ltc-safety-orange-blaze-orange{:href => "index.html"}
              김성준님(렌딧)의 제안
              %br
              스타트업 규제 없어져야 합니다. &gt;
              %br
              선거권 연령은 낮아져야 합니다. &gt;</a>
              %br

            %br/
        .col-sm-4
          = image_tag "interview_landit_thumb.png", class: 'img-responsive'
          %h3.mg-md
            "신융합 산업은 기존의 규제 방식을 그대로 고수해서는 절대로 수용될 수 없습 니다. 새로 태어난 영역이기 때문에 본질적으로 기존 산업들과 많은 차이점을 갖고 있기 때문입니다."
          %p
            Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        .col-sm-4
          = image_tag "interview_landit_thumb.png", class: 'img-responsive'
          %h3.mg-md
            "신융합 산업은 기존의 규제 방식을 그대로 고수해서는 절대로 수용될 수 없습 니다. 새로 태어난 영역이기 때문에 본질적으로 기존 산업들과 많은 차이점을 갖고 있기 때문입니다."
          %p
            Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
  / bloc-17 END
/ Main container END
