.page-container
  / bloc-3
  #bloc-3.bloc.bloc-fill-screen.lake-hero-bloc.bg-map.tc-white.bgc-white.l-bloc
    = render 'application/header'
    .container
      .row.hidden-sm.hidden-xs.object-hidden
        .col-sm-12
    .container.fill-bloc-bottom-edge
      .row.bgc-onyx
        .col-sm-12.about-detail
          %h3.mg-md
            소개
          %p
            ‘혁신을 키우는 정책제안 프로젝트: 당신은 혁신의 편입니까?’는 한국사회를 바꿔나갈 새로운 패러다임과 정책 대안을 만드는 프로젝트입니다. 혁신에 앞장서는 사람들로부터 목소리를 모아 뼈대를 세우고 뜻을 함께 하는 사람들이 살을 붙여 만든 정책을 제안합니다.
            %br
            %br
            1970년대에 설계된 한국사회 시스템은 이제 시효를 다해 무너지고 있습니다. 하지만 그 자리를 채울 혁신적 대안이 없다면 그 자리에 또 다른 낡은 시스템이 들어설 수 있습니다. 지금 우리에게는 새로운 경제, 새로운 사회 시스템이 필요합니다.
            %br
            %br

            프로젝트에 참여한 혁신가들은 새로운 변화를 도모하는 일을 업으로 삼아 고민하고 실천하고 있습니다. 이들은 스타트업에서 일하기도 하고, 소셜벤처에서 일하기도 하고, 비영리단체에서 일하기도 하고, 과학기술을 연구하거나 소프트웨어를 개발하기도 합니다. 어디에서 일하든, 무엇을 지향하든, 새로운 방식으로 일하고 새로운 것을 만들어내고자 하는 사람들, 이들이 바로 혁신가들입니다.
            %br
            %br
            이 프로젝트는 새로운 시스템이 어떤 것이 되어야 하는지를 혁신가들에게 묻고, 그 답을 전문가들과 함께 발전시켜 정책으로 만들어냅니다. 또한 그 정책이 실현되도록, 혁신의 편에 선 사람들의 생각과 힘을 모으고자 합니다.
            %br
            %br

            진정한 혁신은 언제나 혁신을 바라는 사람들이 뭉쳐서 힘을 낼 때, 혁신의 반대편에 서있는 사람들을 설득하고 낡은 질서를 밀어낼 때 찾아옵니다. 다가오는 변화의 시기에 더 많은 사람들이 불안과 갈등을 넘어 혁신에 편에 서서 변화를 도모하도록 하는 것이 이 프로젝트의 궁극적 목표입니다.
            %br
            %br

            당신은 혁신의 편입니까?
      .row.voffset
        .col-sm-12.col-md-6.col-md-offset-3
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-twitter.icon-md.icon-onyx
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-facebook.icon-md.icon-onyx
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-dribbble.icon-md.icon-onyx
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-instagram.icon-md.icon-onyx

  / bloc-3 END




  / bloc-4
  #bloc-4.bloc.bgc-black.d-bloc{:class => "bg-gradation-background"}
    .container.bloc-md
      .row
        .col-sm-12
          %h3.mg-md
            기획
          %p
            책임자: 이원재
            %br
            기획: 전일주
            %br
            사업지원: 사회혁신공간 there/김병권 참여
            %br
            정책: 임주환, 손우정
            %br
            FGI/워크숍: 전일주, 김산, 변형석
            %br
            미디어: 박은지, 권오현&nbsp;
            %br

/ Main container END
