.page-container
  / bloc-3
  #bloc-3.bloc.bloc-fill-screen.lake-hero-bloc.bg-map.tc-white.bgc-white.l-bloc
    = render 'application/header'
    .container
      .row.hidden-sm.hidden-xs.object-hidden
        .col-sm-12
    .container.fill-bloc-bottom-edge
      .row.bgc-onyx
        .col-sm-12
          %h3.mg-md
            소개
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            %br
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            %br
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            %br
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            %br
      .row.voffset
        .col-sm-12.col-md-6.col-md-offset-3
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-twitter.icon-md.icon-onyx
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-facebook.icon-md.icon-onyx
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-dribbble.icon-md.icon-onyx
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-instagram.icon-md.icon-onyx

  / bloc-3 END




  / bloc-4
  #bloc-4.bloc.bgc-black.d-bloc{:class => "bg-gradation-background"}
    .container.bloc-md
      .row
        .col-sm-12
          %h3.mg-md
            기획
          %p
            책임자: 이원재
            %br
            기획: 전일주
            %br
            사업지원: 사회혁신공간 there/김병권 참여
            %br
            정책: 임주환, 손우정
            %br
            FGI/워크숍: 전일주, 김산, 변형석
            %br
            미디어: 박은지, 권오현&nbsp;
            %br

/ Main container END
