.page-container
  / bloc-6
  #bloc-6.bloc.bgc-blue-pigment.d-bloc.bg-gradation-background
    = render 'application/header'
    .container
      .insight-item-container.conference
        .row
          .col-sm-12
            .insight-item
              %h1.mg-md.insight-title
                컨퍼런스 참가신청
              .insight-body.conference
                = image_tag 'conference.jpg', style: 'width: 100%'

                %p.d-bloc.text-center{ style: 'margin-top: 24px;' }
                  = link_to '참가신청하기', 'http://bit.ly/혁신의편', class: 'btn btn-lg btn-sq btn-wire btn-hover', target: '_blank'
    .container.fill-bloc-bottom-edge
      = render 'pages/social_share_panel', from: 'conference'
