.page-container
  / bloc-6
  #bloc-6.bloc.bgc-blue-pigment.d-bloc.bg-gradation-background
    = render 'application/header'
    .container
      .insight-item-container.conference
        .row
          .col-sm-12
            .insight-item
              %h1.mg-md.insight-title.insight-title--conference
                컨퍼런스
              .insight-body.conference
                %h2 혁신가 100명이 정책을 제안하고 대선캠프가 답하다

                %p
                  19대 대통령선거에 출마한 주요 대선후보들은 혁신기업 기술보호 강화, 공공 유휴 공간 및 시설을 혁신활동에 개방, 신산업 규제 샌드박스 도입, 사회성과연계채권(SIB) 등 혁신가들이 선호하는 정책의 도입에 대체로 찬성하는 것으로 나타났다. 혁신가 100명이 여시재와 함께 19대 대통령선거 후보들에게 정책제안을 내놓은 결과,  이 가운데 상당수에 대해 각 대선 후보 캠프에서 긍정적으로 응답했다. 차기 정부에서는 이 의제들은 상당부분 구현될 전망이다.

                %p
                  제목 : 한국사회 혁신생태계 조성을 위한 정책 콘퍼런스 “당신은 혁신의 편입니까?”
                  %br
                  일시 : 2017. 4. 23. (일). 11:00 ~ 14:00 (3시간)
                  %br
                  장소 : 르호봇 G 캠퍼스 (서울 신촌)
                  %br
                  참석자 : 소셜벤처, 스타트업, 사회적기업가, 과학기술자 등 혁신가 100여명
                  %br
                  주최 : 재)여시재, 사)사회혁신공간 there, 중앙일보 리셋코리아, 한국사회적기업중앙협의회, 대구창조도시포럼, 대전충청청년모임 꿀단지, 사)광주창업지원네트워크, ESC(변화를꿈꾸는과학기술인네트워크), ㈜르호봇비즈니스인큐베이터
                  %br
                  주 관 : 사단법인 사회혁신공간 there, 온라인플랫폼 Parti

                = image_tag 'conference_photo.jpg', width: '100%'

                %h3{ style: 'margin-top: 50px;' } ‘당신은 혁신의 편입니까’

                %p
                  4월 23일 오전 11시 서울 신촌 르호봇G캠퍼스에서 한국사회 혁신생태계 조성을 위한 콘퍼런스 ‘당신은 혁신의 편입니까’가 열렸다. 이 행사는 여시재와 중앙일보 리셋코리아, 사)사회혁신공간 there, 한국사회적기업중앙협의회, 포럼창조도시를만드는사람들, 대전충청청년모임-꿀단지, 사)광주창업지원네트워크, ESC(변화를꿈꾸는과학기술인네트워크), 서울혁신파크 입주자 자치회, ㈜르호봇비즈니스인큐베이터 등이 공동주최하고, 사)사회혁신공간 there와 민주주의플랫폼 Parti가 주관했다.

                %p
                  이 행사에서는 여시재 연구팀 및 공동주최기관들이 혁신생태계 조성을 위한 11개 정책과제를 제안했고, 스타트업·사회적기업·비영리단체·과학기술계 등 혁신을 주도하고 있는 100여명이 현장 토론을 통해 과제를 심화, 구체화했다. 그 뒤 문재인·안철수·유승민·심상정 등 각 19대 대선후보 캠프의 정책 책임자가 이 제안에 대한 후보들의 의견을 내놨다. 홍준표 후보 등 다른 대선후보 쪽도 초청했으나 참석하지 않았다.

                %p
                  콘퍼런스는 오전 11시부터 2시20분까지 진행되었다. 인사말과 취지 설명을 마친 뒤 11개의 정책제언을 혁신가들이 직접 진행했고, 제언별로 토론 테이블을 열어 11개의 분임토의가 이뤄졌다. 토의 결과는 실시간으로 구글 스프레드시트로 입력되어 종합되었다. (더 자세한 현장 내용 :
                  %a(href="http://fcinst.org/reviews/27")
                  )


              %h1.mg-md.insight-title.insight-title--conference{ style: 'margin-top: 50px;' }
                정책 자료집
              .insight-body.conference
                %p
                  콘퍼런스는 오전 11시부터 2시20분까지 진행되었다. 인사말과 취지 설명을 마친 뒤 11개의 정책제언을 혁신가들이 직접 진행했고, 제언별로 토론 테이블을 열어 11개의 분임토의가 이뤄졌다. 토의 결과는 실시간으로 구글 스프레드시트로 입력되어 종합되었다.

                %p.d-bloc.text-center{ style: 'margin-top: 24px;' }
                  = link_to '자료집 다운로드', download_report_path, class: 'btn btn-lg btn-sq btn-wire btn-hover', target: '_blank'
    .container.fill-bloc-bottom-edge
      = render 'pages/social_share_panel', from: 'conference'
