.insight-item
  .insight-header
    = image_tag insight.image_thumbnail.md.url, class: 'img-responsive'
  %h3.mg-md.insight-title
    = simple_format insight.title
  .insight-summary
    = simple_format insight.summary
