/ Main container
.page-container
  / bloc-6
  #bloc-16.bloc.lake-hero-bloc.bgc-onyx.d-bloc{:class => "bg-gradation-background"}
    = render 'application/header'
    .container.insight-header-container
      .row
        .col-sm-12.insight-header
          %h3.mg-md.tc-safety-orange-blaze-orange
            인사이트
          %p
            앞장 서서 혁신의 편에 있는
            %br.visible-xs
            사람들의 이야기에서 발견한
            %br
            혁신의 조건을 공유합니다.
            %br
    .container.fill-bloc-bottom-edge
      = render 'pages/social_share_panel', from: 'insights_list', icon_color: 'white'
  / bloc-6 END
  / bloc-7
  - if @insights.any?
    #bloc-17.bloc.tc-white.bgc-onyx-2
      .container.bloc-lg.insight-list-container
        / - abort @insights.inspect
        - @insights.each_slice(2) do |insights_slices|
          .row
            - insights_slices.each do |insight|
              = link_to insight_path(insight) do
                .col-sm-6.col-xs-12
                  = render 'insight_card', insight: insight

  / bloc-7 END
/ Main container END
