.container.fill-bloc-top-edge
  %nav.navbar.row
    .navbar-header
      %a.navbar-brand{:href => "index.html"} 당신은 혁신의 편입니까?
      %button#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => ".navbar-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-1.special-dropdown-nav
      %ul.site-navigation.nav.navbar-nav.pull-right
        %li
          = link_to '메인', root_path
        %li
          = link_to '소개', about_path
        %li
          = link_to '인사이트', insights_path
        %li
          = link_to '인터뷰', interviews_path
